extends layout 
 
block content 
  h1= title 
 
  form(id='vechileForm', action="/resource/vechile", method="POST") 
    div.form-group 
        label.vechileAttr(for='vName') volkswagen name
        input#vName(type='text', name='vName') 
    div.form-group 
        label.vechileAttr(for='vEngine') volkswagen user 
        input#vEngine(type='text', name='vEngine') 
    div.form-group 
        label.vechileAttr(for='vCost') volkswagen Cost 
        input#vCost(type='number', name='vCost') 
    input(type="submit") 
 
  script. 
    document.forms['vechileForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 